{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'hunny_app/css/style.css' %}">

    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: rgb(204, 119, 62)
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover {
          background-color: #EDD7BD;
        }
    </style>
    </head>
    <header class="site-header">
        <div class="col-9  text-right";>
            <span class="d-inline-block d-lg-none"><a href="#" class="text-primary site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-white"></span></a></span>
            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
            <div class="nav-bar">
              <ul class="site-menu main-menu js-clone-nav ml-auto" style="border-radius: 20px;">
                <li class="active"><a href="/profile" class="nav-link">HUNNY</a></li>
                <li><a href="/matchingroom" class="nav-link">HUNNY-MATCHING</a></li>
                <li><a href="/message" class="nav-link">MATCH BOX</a></li>
                <li><a href="/profile" class="nav-link">MY PROFILE</a></li>
              </ul>
            </div>
            </nav>
        </div>
    </header>
    <main role="main" class="page-content-containter">
        <div class="padding">
            <div class="row containter d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ messages.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
</html>
