<!DOCTYPE html>
<html lang="en">
{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <meta charset="utf-8"/>
    <title>Edit Your Profile</title>

</head>    
<body style="background-color: #ffe6cc;">
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                <div class="table-responsive">
                    <table class="table table-profile">
                        <tbody>
                        <tr>
                            <td class="field">First Name</td>
                            <td>{{ p_form.first_name }}</td>
                        </tr>
                        <tr>
                            <td class="field">Last Name</td>
                            <td>{{ p_form.last_name }}</td>
                        </tr>
                        <tr>
                            <td class="field">Current City</td>
                            <td>{{ p_form.city }}</td>
                        </tr>
                        <tr>
                            <td class="field">Gender</td>
                            <td>{{ p_form.gender }}</td>
                        </tr>
                        <tr>
                            <td class="field">Birthday</td>
                            <td>{{ p_form.birthday }}</td>
                        </tr>
                        <tr>
                            <td class="field">Bio</td>
                            <td>{{ p_form.bio }}</td>
                        </tr>
                        <tr>
                            <td class="field">Profile Picture</td>
                            <td>{{ p_form.image }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <div class="mt-5 text-right">
                <div class="form-group">
                    <button class="btn btn-primary back-button">Go Back<a class="ml-2" onclick="location.href='/profile'"></a></button>
                    <button class="btn btn-primary profile-button" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</body>
{% endblock content%}